name: flake

on:
  push:
  pull_request:

jobs:
  nix-flake-workflow:
    uses: jzbor/nix-flake-workflow/.github/workflows/reusable-flake-workflow.yml@main
    with:
      binary-cache: false
      architectures: '[ "x86_64-linux", "aarch64-linux" ]'
      blocklist: >
        [
        "packages.x86_64-linux.proprietary-apps",
        "packages.aarch64-linux.proprietary-apps",
        "packages.aarch64-linux.live-x86_64-iso",
        "checks.x86_64-linux.pkgs-proprietary-apps",
        "checks.aarch64-linux.pkgs-proprietary-apps",
        "checks.aarch64-linux.nixos-pinebook-pro"
        ]
      arm-runners: true
      disable-eval-checks: true
      build-args: '--print-build-logs'
      allow-impure: true
      attic-endpoint: https://cache.jzbor.de
      attic-cache: desktop
      upload-artifacts: true
    secrets:
      ATTIC_TOKEN: ${{ secrets.ATTIC_TOKEN }}
